<?xml version="1.0" encoding="UTF-8"?>
<!-- spark自带了slf4j和log4j2，直接加上这个对应的配置文件就可以用了 -->
<Configuration status="WARN">
    <Properties>
        <Property name="root.level">info</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p [%c{20}] %L - %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>
        <File name="File" fileName="/tmp/spark-app.log">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="${root.level}">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>